<hr class="mt-5">
<div>
    <p class="text-center h6">&copy; copyright</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
<script src="/javascripts/main.js" defer></script>
</body>
</html>